<div class="col-md-3">
  <table st-table="displayedCategories" st-safe-src="categories" class="table table-striped">
  	<tbody>
  	<tr ng-repeat="category in displayedCategories">
  		<td>{{category.name}}</td>
  	</tr>
  	</tbody>
  </table>
<div>
