<table st-table="displayedStores" st-safe-src="starred" class="table table-striped">
	<thead>
	<tr>
		<th st-sort="title">Title</th>
		<th st-sort="reference">Reference</th>
		<th st-sort="email">E-mail</th>
		<th st-sort="phone">Phone</th>
	</tr>
  <tr>
		<th>
			<input st-search="title" placeholder="search for title" class="input-sm form-control" type="search"/>
    </th>
    <th>
      <input st-search="reference" placeholder="search for reference" class="input-sm form-control" type="search"/>
    </th>
    <th>
      <input st-search="email" placeholder="search for email" class="input-sm form-control" type="search"/>
    </th>
    <th>
      <input st-search="phone" placeholder="search for phone" class="input-sm form-control" type="search"/>
		</th>
  </tr>
	</thead>
	<tbody>
	<tr ng-repeat="store in displayedStores">
		<td>{{store.title}}</td>
		<td>{{store.reference}}</td>
		<td>{{store.email}}</td>
		<td>{{store.phone}}</td>
	</tr>
	</tbody>
	<tfoot>
    <tr>
        <td class="text-center" st-pagination="" st-items-by-page="8" colspan="4">
        </td>
    </tr>
  </tfoot>
</table>
